name: "TESTING"

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "*"

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install nose nose-exclude coverage coveralls pycodestyle
        pip install --progress-bar off .
    - name: Run unit tests
      run: |
        python setup.py nosetests
    - name: Coveralls
      if: matrix.python-version == 3.9
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        coveralls --service=github
